<!DOCTYPE html>
<html lang="es-sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - SuperMark</title>
   
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/AdminLTE/dist/css/adminlte.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini" style="height: auto;">
    <div class="wrapper">
        <partial name="_Header.cshtml" />
        <partial name="_sidebar.cshtml" />
        <div class="content-wrapper">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <partial name="_ControlSidebar.cshtml" />
        <partial name="_Footer.cshtml" />
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <script src="~/js/site.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
