@model SuperMark.Data.Entities.TblProducto

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Productos</a></li>
                    <li class="breadcrumb-item active">Crear</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card ">
                <div class="card-header">
                    <h3 class="card-title">Agregar Producto</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="CodigoProducto" class="control-label"></label>
                                    <input asp-for="CodigoProducto" class="form-control" />
                                    <span asp-validation-for="CodigoProducto" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NombreProducto" class="control-label"></label>
                                    <input asp-for="NombreProducto" class="form-control" />
                                    <span asp-validation-for="NombreProducto" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IdMarca" class="control-label"></label>
                                    <select asp-for="IdMarca" class="form-control" asp-items="ViewBag.Marcas"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Cantidad" class="control-label"></label>
                                    <input asp-for="Cantidad" class="form-control" />
                                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StockMinimo" class="control-label"></label>
                                    <input asp-for="StockMinimo" class="form-control" />
                                    <span asp-validation-for="StockMinimo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Costo" class="control-label"></label>
                                    <input asp-for="Costo" class="form-control" />
                                    <span asp-validation-for="Costo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PrecioNeto" class="control-label"></label>
                                    <input asp-for="PrecioNeto" class="form-control" />
                                    <span asp-validation-for="PrecioNeto" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PrecioConsumidor" class="control-label"></label>
                                    <input asp-for="PrecioConsumidor" class="form-control" />
                                    <span asp-validation-for="PrecioConsumidor" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PrecioDetalle" class="control-label"></label>
                                    <input asp-for="PrecioDetalle" class="form-control" />
                                    <span asp-validation-for="PrecioDetalle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IdCategoria" class="control-label"></label>
                                    <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.Categorias"></select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label"></label>
                                    <input asp-for="Estado" class="form-control" />
                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
